.highlight { line-height:17px; }
.highlight .hll { background-color: #ffffcc; }
.highlight { background: #000000; color: white; font-size: 16px; border-radius: 10px; -moz-border-radius:10px; }
.highlight pre { padding:5px; }
.highlight .kw1 { color: #fce94f; font-weight: bold; }
.highlight .kw2 { color: #8ae233; font-weight: bold; }
.highlight .kw3 { color: #729fcf; font-weight: bold; }
.highlight .sc2 { color: #729fcf; font-weight: bold; }
.highlight .re0 { color: #31e2e2; font-weight: bold; }
.highlight .sc0 { color: #888888; }
.highlight .sc-1{ color: #888888; }
.highlight .co1 { color: #888888; }
.highlight .co2 { color: #888888; }
.highlight .co3 { color: #888888; }
.highlight .co4 { color: #888888; }
.highlight .coMULTI { color: #888888; }
.highlight .me0 { color: #fce94f; }
.highlight .me1 { color: #fce94f; }
.highlight .kw4 { color: #729fcf; font-weight: bold; }
.highlight .br0 { color: #729fcf; font-weight: bold; }
.highlight .sy0 { color: #888888; }
.highlight .st_h { color: #e83636; }
.highlight .st0 { color: #e83636; }
.highlight .nu0 { color: #e83636; }
.highlight .nu19 { color: #e83636; }
.highlight .nu1 { color: #e83636; }
