[submodule "web/blocks"]
	path = web/blocks
	url = https://github.com/Gregwar/blocks.js.git
[submodule "vendor/geshi"]
	path = vendor/geshi
	url = https://github.com/javiereguiluz/geshi
[submodule "vendor/dsd"]
	path = vendor/dsd
	url = https://github.com/Gregwar/DSD.git
[submodule "server/mongoose-cpp"]
	path = server/mongoose-cpp
	url = https://github.com/Gregwar/mongoose-cpp.git
[submodule "server/jsoncpp"]
	path = server/jsoncpp
	url = https://github.com/Gregwar/jsoncpp-cmake.git
